[submodule "dependencies/kobuki"]
	path = dependencies/kobuki
	url = https://github.com/yujinrobot/kobuki.git
[submodule "dependencies/yujin_ocs"]
	path = dependencies/yujin_ocs
	url = https://github.com/yujinrobot/yujin_ocs.git
[submodule "dependencies/kobuki_desktop"]
	path = dependencies/kobuki_desktop
	url = https://github.com/yujinrobot/kobuki_desktop.git
