[submodule "dependencies/kobuki"]
	path = dependencies/kobuki
	url = https://github.com/yujinrobot/kobuki.git
[submodule "dependencies/yujin_ocs"]
	path = dependencies/yujin_ocs
	url = https://github.com/yujinrobot/yujin_ocs.git
[submodule "dependencies/kobuki_desktop"]
	path = dependencies/kobuki_desktop
	url = https://github.com/yujinrobot/kobuki_desktop.git
[submodule "dependencies/slam_gmapping"]
	path = dependencies/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping.git
[submodule "dependencies/turtlebot"]
	path = dependencies/turtlebot
	url = https://github.com/turtlebot/turtlebot
[submodule "dependencies/turtlebot_apps"]
	path = dependencies/turtlebot_apps
	url = https://github.com/turtlebot/turtlebot_apps
[submodule "dependencies/turtlebot_create"]
	path = dependencies/turtlebot_create
	url = https://github.com/turtlebot/turtlebot_create
[submodule "dependencies/turtlebot_interactions"]
	path = dependencies/turtlebot_interactions
	url = https://github.com/turtlebot/turtlebot_interactions
[submodule "dependencies/turtlebot_simulator"]
	path = dependencies/turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator
